.calculator{
    height: 400px;
    width: 287px;
    background-color: #e8e8e8;
    margin:0 auto;
    margin-top:50px;
    padding: 10px;
    border: 3px solid rgba(113, 116, 111, 0.623);


}
.cal{

    text-align: center;
    background-color: #0f1f38;
    color:rgb(7, 250, 250);
    padding: 20px;
    font-size: 50px;
}
.color{

    color:gray;
}
.main-bar{
    margin-bottom: 20px;
    text-align: right;
}
.calculator-button{
    font-size: 20px;
    cursor: pointer;
    width: 61px;
}
.line{
    margin-bottom: 10px;
}

.last input{

    width:126px;
}
#inp{
    font-size: 23px;
    font-weight: bold;
}
.buttons{

    background-color:#07a314ec !important;
    border: 0;
    color:black
}
.buttons:hover{

    border:0;
}
.bttons{

    background-color: #DB1204 !important;
    color:#fff;
}

.btn-warning{

    background-color: #F4009A;
    color:#fff;
}