.calculator{
    height: 360px;
    width: 300px;
    background-color: #e8e8e8;
    margin:0 auto;
    margin-top:50px;
    padding: 10px;
    border: 1px solid #777;


}
.main-bar{
    margin-bottom: 20px;
    text-align: right;
}
.calculator-button{
    font-size: 20px;
    cursor: pointer;
    width: 61px;
}
.line{
    margin-bottom: 10px;
}

.last input{

    width:126px;
}
#inp{
    font-size: 23px;
    font-weight: bold;
}